
.icon-c:before { content: '\e800'; } /* '' */
.icon-typescript:before { content: '\e803'; } /* '' */
.icon-tailwind-css:before { content: '\e804'; } /* '' */
.icon-jira:before { content: '\e805'; } /* '' */
.icon-mysql:before { content: '\e806'; } /* '' */
