footer.footer-portfolio{
    @media screen and (max-width: 578px) {
        
        .content-footer{
            flex-direction: column;
            .content-mobile{
                width: 100%;
                .logo-footer{
                    position: static;
                    transform: none;
                }
            }
            span.separator-hidden{
                display: block !important;
                order: 2;
            }
            .copyright-text{
                order: 3;
            }

        }
        
    }
}
