header.header-portfolio{
    a.header-link{
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in;
    }
    a.header-link:hover{
        border-bottom: 1px solid var(--main-100);
    }
    @media screen and (max-width: 768px) {
        .hidden-menu{
            display: inline-block;
        }
        a.header-link{
            display: none;
        }
        .container{
            padding-inline: 1rem;
        }
    }
}