main{
    .my-experience{
        max-width: 61.5rem;
    }
    .sec-praticas-projetos{
        .card-pratica{
            min-height: 32.5rem;
            .figma-anchor{
                font-size: 1.75rem;
            }
            .figma-anchor:hover{
                color: var(--cod-gray-50);
                background-color: var(--main-300);
            }
            .github-anchor:hover{
                color: var(--cod-gray-50);
            }

        }
    }
    .bloco-depoimento{
        animation: 3s infinite alternate-reverse slide-depoimentos;
        @keyframes slide-depoimentos {
            from{
                background-color: transparent;
            }

            to{
                background-color: var(--main-500);
            }
        }
    }
    .sec-contact{
        .hover-color-100:hover{
            color: var(--main-100);
        }
        
    }

    @media screen and (min-width: 1280px) {
        img{
            width: 536px;
        }
        
    }
    
    @media screen and (max-width: 1280px) {
        .hero-saudacoes{
            .avatar-gabriel{
                img{
                    width: 452px;
                }
    
            }
            .buttons-contact{
                flex-direction: row;
                margin-inline: auto;
            }
        }
        
    }

    @media screen and (max-width: 992px) {
        .hero-saudacoes{
            .avatar-gabriel{
                img{
                    width: 100%;
                }

            }
            .buttons-contact{
                margin-inline: 0;
            }
        }
        
    }

    @media screen and (max-width: 640px) {
        .hero-saudacoes{
        }
        
    }

    @media screen and (max-width: 428px) {
        .hero-saudacoes{
            .buttons-contact{
                flex-direction: column;
            }
        }
        
    }
}