@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --cod-gray-50: #F6F6F6;
  --cod-gray-300: #B0B0B0;
  --cod-gray-400: #888888;
  --cod-gray-950: #090E16;
  --main-100: #7B4AE2;
  --main-200: #7B4AE2BF;
  --main-300: #7B4AE280;
  --main-400: #7B4AE233;
  --main-500: #7B4AE21A;
}

.color-cod-50 {
  color: var(--cod-gray-50);
}

.color-cod-300 {
  color: var(--cod-gray-300);
}

.color-cod-400 {
  color: var(--cod-gray-400);
}

.color-main-100 {
  color: var(--main-100);
}

.color-main-200 {
  color: var(--main-200);
}

.color-main-300 {
  color: var(--main-300);
}

.color-main-400 {
  color: var(--main-400);
}

.bg-main-100 {
  background-color: var(--main-100);
}

.bg-main-200 {
  background-color: var(--main-200);
}

.bg-main-300 {
  background-color: var(--main-300);
}

.bg-main-400 {
  background-color: var(--main-400);
}

.bg-main-500 {
  background-color: var(--main-500);
}

body {
  background-color: var(--cod-gray-950);
  color: var(--cod-gray-300);
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  line-height: 130%;
  color: var(--cod-gray-50);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  line-height: 150%;
}

span, a, source {
  display: inline-block;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.fs-xsmall {
  font-size: 0.75rem;
}

.fs-small {
  font-size: 0.875rem;
}

.fs-large {
  font-size: 1.125rem;
}

.fs-xlarge {
  font-size: 1.25rem;
}

.transition-ease-in {
  transition: all 0.3s ease-in;
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}

.center-x-y {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-main-300 {
  border: solid 1px var(--main-300);
}

.border-end-main-300 {
  border-bottom: solid 1px var(--main-300);
}

.hover-main-400:hover {
  background-color: var(--main-400);
}

header.header-portfolio a.header-link {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in;
}
header.header-portfolio a.header-link:hover {
  border-bottom: 1px solid var(--main-100);
}
@media screen and (max-width: 768px) {
  header.header-portfolio .hidden-menu {
    display: inline-block;
  }
  header.header-portfolio a.header-link {
    display: none;
  }
  header.header-portfolio .container {
    padding-inline: 1rem;
  }
}

main .my-experience {
  max-width: 61.5rem;
}
main .sec-praticas-projetos .card-pratica {
  min-height: 32.5rem;
}
main .sec-praticas-projetos .card-pratica .figma-anchor {
  font-size: 1.75rem;
}
main .sec-praticas-projetos .card-pratica .figma-anchor:hover {
  color: var(--cod-gray-50);
  background-color: var(--main-300);
}
main .sec-praticas-projetos .card-pratica .github-anchor:hover {
  color: var(--cod-gray-50);
}
main .bloco-depoimento {
  animation: 3s infinite alternate-reverse slide-depoimentos;
}
@keyframes slide-depoimentos {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--main-500);
  }
}
main .sec-contact .hover-color-100:hover {
  color: var(--main-100);
}
@media screen and (min-width: 1280px) {
  main img {
    width: 536px;
  }
}
@media screen and (max-width: 1280px) {
  main .hero-saudacoes .avatar-gabriel img {
    width: 452px;
  }
  main .hero-saudacoes .buttons-contact {
    flex-direction: row;
    margin-inline: auto;
  }
}
@media screen and (max-width: 992px) {
  main .hero-saudacoes .avatar-gabriel img {
    width: 100%;
  }
  main .hero-saudacoes .buttons-contact {
    margin-inline: 0;
  }
}
@media screen and (max-width: 428px) {
  main .hero-saudacoes .buttons-contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  footer.footer-portfolio .content-footer {
    flex-direction: column;
  }
  footer.footer-portfolio .content-footer .content-mobile {
    width: 100%;
  }
  footer.footer-portfolio .content-footer .content-mobile .logo-footer {
    position: static;
    transform: none;
  }
  footer.footer-portfolio .content-footer span.separator-hidden {
    display: block !important;
    order: 2;
  }
  footer.footer-portfolio .content-footer .copyright-text {
    order: 3;
  }
}

.social-links:hover {
  color: var(--main-200);
}

.separator {
  height: 1px;
}/*# sourceMappingURL=style.css.map */