@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --cod-gray-50: #F6F6F6;
    --cod-gray-300: #B0B0B0;
    --cod-gray-400: #888888;
    --cod-gray-950: #090E16;
    --main-100: #7B4AE2;
    --main-200: #7B4AE2BF; // 75% opacity
    --main-300: #7B4AE280; // 50% opacity
    --main-400: #7B4AE233; // 20% opacity
    --main-500: #7B4AE21A; // 10% opacity
}

.color-cod-50{color: var(--cod-gray-50);} .color-cod-300{color: var(--cod-gray-300);} .color-cod-400{color: var(--cod-gray-400);} .color-main-100{color: var(--main-100);} .color-main-200{color: var(--main-200);} .color-main-300{color: var(--main-300);} .color-main-400{color: var(--main-400);}

.bg-main-100{background-color: var(--main-100);} .bg-main-200{background-color: var(--main-200);} .bg-main-300{background-color: var(--main-300);} .bg-main-400{background-color: var(--main-400);} .bg-main-500{background-color: var(--main-500);}

body{
    background-color: var(--cod-gray-950);
    color: var(--cod-gray-300);
    font-family: "Raleway", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    line-height: 130%;
    color: var(--cod-gray-50);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: clamp(3rem, 6vw, 2.5rem);
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1.25rem;
}

p{
    line-height: 150%;
}

span, a, source{
    display: inline-block;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

.fs-xsmall{
    font-size: .75rem;
}

.fs-small{
    font-size: .875rem;
}

.fs-large{
    font-size: 1.125rem;
}

.fs-xlarge{
    font-size: 1.25rem;
}

.transition-ease-in{
    transition: all 0.3s ease-in;
}

.center-x{
    left: 50%;
    transform: translateX(-50%)
}

.center-x-y{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.border-main-300{
    border: solid 1px var(--main-300)
}

.border-end-main-300{
    border-bottom: solid 1px var(--main-300)
}

.hover-main-400:hover{
    background-color: var(--main-400)
}

.hover-color-100:hover{
    color: var(--main-100);
}

@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';
@import '_components.scss';
